<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .test_container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 4fr ;
    }
    .name_container, .header_container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      
    }
    .picture {
      width: 150px;
      height: 150px;
      border-radius: 75px;
    }
    .center_me {
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="center_me">
    <div>
      <div><img src="img/jack.webp" alt="" class="picture"></div>
      <div>Ariel Cueva</div>
    </div>
    <div>Department Head</div>
</div>









  <div class="test_container">
    <div class="name_container">
      <div class="header_container">
        <div>Last Name</div>
        <div>First Name</div>
        <div>Middle Name</div>
      </div> 
      <div class="header_container">
        <div>Cueva</div>
        <div>Ariel</div>
        <div>Tebajo</div>
      </div>
      
    </div>
    <div>
      <div><img src="img/jack.webp" alt="" class="picture"></div>
    </div>  
    <div>
      <div>position</div>
      <div>it</div>
  
      <div>adres</div>
      <div>cebu</div>
    
      <div>mobile</div>
      <div>012355</div>
    </div>  
      
      
    </div>
    

</div>
<dl>
  <dt>Full name</dt><dd>Maria Josephina Gonzalez</dd>
    
  <dt>Date of birth</dt>
    <dd>August 27, 1987</dd>
  <dt>Hometown</dt>
    <dd>Barcelona, Spain</dd>
  <dt>Occupation</dt>
    <dd>Client Happiness Manager</dd>
  <dt>Loves</dt>
    <dd>Skydiving, Tennis, Romantic dinners</dd>
  <dt>Hates</dt>
    <dd>Taxes, bosses instead of leaders</dd>
  <dt>Social</dt>
    <dd>
      <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a> 
      <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
    </dd>
</dl>
</body>
</html>